#wSec {
  position: relative;
  height: 100vh;
  background-color: #1b1a1b;
  width: 100vw;
  left: -10px;
}
#wStat {
  width: 350px;
  display: inline-block;
  margin: 30vh 0 auto 20%;
  padding: 0px 10px;
  font-size: 20px;
  font-family: Arial;
  color: white;
}
#name {
  font-size: 90px;
  margin-top: 10px;
  transition: 0.3s;
}
#name:hover {
  color: #de4c21;
  cursor: pointer;
}
#title {
  font-size: 25px;
  margin-top: 10px;
  color: #10ef73;
}
#note {
  margin-top: 20px;
}
#viewmywork {
  display: block;
  color: black;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #0cf391;
  height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 40px;
  transition: 0.5s;
  font-size: 17px;
}
#viewmywork:hover {
  font-size: 18px;
}
#selfie-1 {
  width: 350px;
  height: 350px;
  float: right;
  margin-top: 27vh;
  margin-right: 200px;
  border-radius: 50%;
  color: white;
}