footer {
  position: relative;
  height: auto;
  width: 100vw;
  left: -10px;
  background-color:black;
}
.prof-links {
  background-color: black;
  border: solid;
}
.profile-link {
  display: block;
  width: 100px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}